@import "tailwindcss";


:root {
  --background: #CC2324;
  --foreground: #FFE9CC;
}

/* import fonts */
/* @font-face {
  font-family: 'CoolvecticaRg';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/CoolveticaRg.otf');
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CC2324;
    --foreground: #FFE9CC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
