@import "tailwindcss";


:root {
  --background: #CC2324;
  --foreground: #FFE9CC;
  --pink: #FF8E8E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-sans: var(--font-coolvetica);
  --font-serif: var(--font-malevice);
  /* --font-family-malevice: "malevice"; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-coolvetica);
}

h1 {
  line-height: 1;
  font-family: var(--font-malevice);
}

/* p {
  font-family: var(--);
} */

/* p {
  font-size: 24px;
} */
 
@media (max-width: 768px){
  h1 {
    margin-top: 1rem;
    font-size: 20px;
  }
}
